<app-header />

<div class="dashboard-container">

  <mat-card class="dashboard-card">

    <mat-card-header class="dashboard-header">
      <mat-card-title>Dashboard</mat-card-title>

      <button mat-button color="warn" (click)="logout()">
        Logout
      </button>
    </mat-card-header>

    <mat-card-content>


 <strong>
      Escuela activa:
    </strong>

    {{ currentSchoolName }}


      <!-- Async pipe -->
      @if (user$ | async; as res) {

        @if (res) {
          <div>
            <p><strong>Nombre:</strong> {{ res.data.name }}</p>
            <p><strong>Email:</strong> {{ res.data.email }}</p>
            @if (res.data.role) {
              <p>
                <strong>Rol:</strong> {{ res.data.role.name }}
              </p>
            }
          </div>
        } @else {
          <p style="color:red;">Error cargando usuario</p>
        }

      } @else {
        <p>Cargando usuario...</p>
      }


    <button mat-raised-button color="warn" (click)="force401()">
      FORZAR 401s
    </button>


    </mat-card-content>

  </mat-card>


<hr>

<h3>Navegaciónss</h3>

<!-- ADMIN -->
<button [routerLink]="['/admin']">Panel Admin</button>
<button routerLink="/admin/users">Usuarios</button>

<!-- TEACHER -->
<button routerLink="/teacher">Dashboard Maestro</button>
<button routerLink="/teacher/classes">Clases</button>


</div>