<div class="dashboard-container">

  <mat-card class="dashboard-card">

    <mat-card-header class="dashboard-header">
      <mat-card-title>Dashboard</mat-card-title>

      <button mat-button color="warn" (click)="logout()">
        Logout
      </button>
    </mat-card-header>

    <mat-card-content>

      <!-- Async pipe -->
      @if (user$ | async; as res) {

        @if (res) {
          <div>
            <p><strong>Nombre:</strong> {{ res.data.name }}</p>
            <p><strong>Email:</strong> {{ res.data.email }}</p>
          </div>
        } @else {
          <p style="color:red;">Error cargando usuario</p>
        }

      } @else {
        <p>Cargando usuario...</p>
      }

    </mat-card-content>

  </mat-card>

</div>