<header class="header">

  <div class="logo">
    ClassHub
  </div>

  <nav>

    <a [routerLink]="['/dashboard']">
      Dashboard
    </a>

    <a [routerLink]="['/academies']">
      Mis academias
    </a>

    <a [routerLink]="['/academies-management']">
      Academias
    </a>

    <a [routerLink]="['/classrooms']">
      Grupos
    </a>

    <a [routerLink]="['/students']">
      Estudiantes
    </a>

  </nav>

  <button
    mat-button
    color="warn"
    (click)="logout()">

    Logout

  </button>

</header>