<header class="header">

  <div class="brand-text">

    <img
      src="/images/logo.png"
      class="logo">

   <div>
     <div class="app-name">

      ClassHub

    </div>

    <div class="school-name">

      {{ schoolName }}

    </div>
   </div>

  </div>

  <nav class="nav-links">

    <button
      mat-button
      routerLink="/dashboard"
      routerLinkActive="active-link">

      Dashboard

    </button>

    @if (isTeacher) {

      <button
        mat-button
        routerLink="/academies"
        routerLinkActive="active-link">

        Mis Academias

      </button>

      <button
        mat-button
        routerLink="/my-schedule"
        routerLinkActive="active-link">

        Mis Horarios

      </button>

      <button
        mat-button
        routerLink="/my-pendings"
        routerLinkActive="active-link">

        Mis Pendientes

      </button>

    }

    @if (isAdmin) {

      <button
        mat-button
        routerLink="/academies-management"
        routerLinkActive="active-link">

        Academias

      </button>

      <button
        mat-button
        routerLink="/classrooms"
        routerLinkActive="active-link">

        Grupos

      </button>

      <button
        mat-button
        routerLink="/students"
        routerLinkActive="active-link">

        Estudiantes

      </button>

      <button
        mat-button
        routerLink="/schools"
        routerLinkActive="active-link">

        Escuelas

      </button>

      <button
        mat-button
        routerLink="/users"
        routerLinkActive="active-link">

        Usuarios

      </button>

    }

  </nav>

  <div class="actions">

    <button
      mat-stroked-button
      color="primary"
      (click)="changeSchool()">

      Cambiar Escuela

    </button>

    <button
      mat-flat-button
      color="warn"
      (click)="logout()">

      Cerrar Sesión

    </button>

  </div>

</header>