<header class="header">

  <div class="logo">
    ClassHub
  </div>


  <span class="school-name">

    {{ schoolName }}

  </span>


  <nav>

    <a [routerLink]="['/dashboard']">
      Dashboard
    </a>

    <a [routerLink]="['/academies']">
      Mis academias
    </a>

    <a [routerLink]="['/academies-management']">
      Academias
    </a>

    <a [routerLink]="['/classrooms']">
      Grupos
    </a>

    <a [routerLink]="['/students']">
      Estudiantes
    </a>

    <a [routerLink]="['/schools']">
      Escuelas
    </a>

  </nav>


  <button type="button" class="logout-button" (click)="logout()">

    Cerrar sesión

  </button>


  <button type="button" class="action-button" (click)="changeSchool()">

    Cambiar escuela

  </button>

</header>