.container {

  padding: 24px;

  max-width: 1000px;

  margin: 0 auto;
}

.schools-list {

  display: grid;

  grid-template-columns:
    repeat(
      auto-fill,
      minmax(
        250px,
        1fr
      )
    );

  gap: 16px;

  margin-top: 24px;
}

.school-card {

  height: 100%;
}