<app-header />

<div class="page-container">

  <div class="page-header">

    <div>

      <h1>
        Usuarios
      </h1>

      <p>
        Catálogo de usuarios
      </p>

    </div>

    <button
      mat-raised-button
      color="primary"
      routerLink="/users/new">

      Nuevo Usuario

    </button>

  </div>

  <mat-form-field>

    <mat-label>
      Filtrar por Rol
    </mat-label>

    <mat-select
      [(ngModel)]="selectedRoleId"
      (selectionChange)="loadUsers()">

      <mat-option
        [value]="null">

        Todos

      </mat-option>

      @for (
        role of roles;
        track role.id
      ) {

        <mat-option
          [value]="role.id">

          {{ role.name }}

        </mat-option>

      }

    </mat-select>

  </mat-form-field>

  <ng-template
    #schoolsTemplate
    let-user>

    @for (
      school of user.schools;
      track school.id
    ) {

      <div>

        {{ school.name }}

      </div>

    }

  </ng-template>

  <ng-template
    #actionsTemplate
    let-user>

    @if (
      user.role?.key ===
      'teacher'
    ) {

      <button
        mat-button
        color="accent"
        [routerLink]="[
          '/users',
          user.id,
          'teacher-profile'
        ]">

        Perfil Docente

      </button>

    }

    <button
      mat-button
      color="primary"
      [routerLink]="[
        '/users/edit',
        user.id
      ]">

      Editar

    </button>

    <button
      mat-button
      color="warn"
      (click)="
        deleteUser(
          user.id
        )
      ">

      Eliminar

    </button>

  </ng-template>

  @if (loading) {

    <p>
      Cargando usuarios...
    </p>

  } @else {

    <app-data-table
      [data]="users"
      [columns]="columns">
    </app-data-table>

  }

</div>